body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav{
  overflow: hidden;
  background-color:  #1f2020aa;
}
.topnav a{
    float: right;
    color: rgb(242, 255, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}
.topnav a:hover{
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
}
.topnav a.active{
    background-color: mediumspringgreen;
    color: rgb(255, 0, 0);
}